.section__img::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #0000005e;
}

.donars__section{
    background: #F7F7F7;
}

.donar {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
    transition: 0.3s ease-in-out;
}

.donar:hover{
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
}

.donar p{
    font-size: 18px;
}

.donar p span{
    font-weight: 500;
}

ul.social li a{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #EEEEEE;
    color: #EF3D32;
    font-size: 18px;
}

@media screen and (max-width: 500px) {
    .doners__inner{
        grid-template-columns: auto;
    }
}